@keyframes folder {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

p{
  padding: 3vw 0;
  text-align: center;
}

.folder{

  img{
    width: 100%;
  }
  img:hover{
    animation: .8s folder ease-in-out infinite;
  }

  a{
    text-decoration: none;
    color: var(--light);
    font-size: 24px;
  }
  a:hover{
    color: var(--secondary);
  }
}

button{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.attendee{
  label{
    font-size: 30px;
    color: var(--primary);
  }

  input {
    position: relative;
    height: 30px;
    width: 30px;
  }

  input:before {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
