<div class="container">
  <p>Hello! Welcome to Kavi's personal secret wallet. If you are not the author, surely you got this after his pass
    away. He trusted you! Never break it !!!</p>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 folder">
      <a href="/notes">
        <img src="./assets/images/folder.png" alt="notes" title="Notes">
        <p>Notes</p>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 folder">
      <a href="/images">
        <img src="./assets/images/folder.png" alt="images" title="Images">
        <p>Images</p>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 folder">
      <a href="">
        <img src="./assets/images/folder.png" alt="videos" title="Videos">
        <p>Videos</p>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 folder">
      <a href="">
        <img src="./assets/images/folder.png" alt="audios" title="Audios">
        <p>Audios</p>
      </a>
    </div>
  </div>

  <button (click)="logout()" mat-fab color="primary" class="add-button" title="Logout">
    <i class="material-icons">power_settings_new</i>
  </button>
</div>
