<div class="container">
  <div class="page">
    <div class="content">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <span>2023.01.01</span> <br><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid, aperiam corporis deleniti dolore
        dolorem dolorum eius est facere illo in itaque laboriosam magnam minus mollitia neque pariatur placeat quas quasi
        quia repellendus, tempora veritatis! Ab aliquam culpa distinctio error eveniet excepturi, illum ipsum iure officia
        quia quibusdam quis quod reiciendis vel vero vitae voluptates. Commodi ducimus excepturi libero quam quisquam.
        Asperiores facere molestiae porro quisquam. Ad architecto earum eos molestiae nemo nesciunt tenetur veniam. Ab
        accusantium aperiam blanditiis delectus dolorem eius eum harum id, maiores molestias mollitia nesciunt nobis nulla
        perspiciatis placeat, quo quos ratione similique sit voluptas voluptatem.</p>
    </div>
  </div>
</div>
