<!--<img [src]="downloadURL | async" alt="Uploaded Image">-->
<div class="container" style="margin-top: 3vw; margin-bottom: 3vw">
  <div class="add-image">
    <input type="file" required (change)="onFileChange($event)">
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let image of images">
      <div class="card">
        <img [src]="image" class="card-img-top img-fluid" alt="Image" (click)="openImage(image)">
        <div class="card-body">
          <h5 class="card-title">Private Image</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="uploading">
    <p>Uploading...</p>
    <div class="spinner"></div>
  </div>

  <div class="page-lock" [ngStyle]="{'display':lock?'block':'none'}">
    <div class="d-md-flex align-items-center justify-content-center" style="height: 100vh; padding: 0 20px">
      <img src="./assets/images/folder.png" alt="lock">
      <div class="lock">
        <h1>Unlock the folder</h1>
        <input type="text" id="password">
        <button (click)="unlock()">unlock</button>
      </div>
    </div>
  </div>
</div>
