<div class="container">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="user" placeholder="Ex. Username">
        <mat-error *ngIf="loginForm.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="dagi-97w3-bjh@">
        <mat-error *ngIf="!loginForm.hasError('required')">
          Please enter your password
        </mat-error>
        <mat-error *ngIf="loginForm.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" style="width: 100%">Authorize</button>
    </form>
  </div>
</div>
