<div class="container">
  <div class="d-flex flex-column align-items-center justify-content-center">

    <div class="image">
      <img src="./assets/images/login.png" alt="login">
    </div>

    <form class="example-form" [formGroup]="signUpForm" (ngSubmit)="create()">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="user" placeholder="Ex. Username">
        <mat-error *ngIf="signUpForm.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" placeholder="dagi-97w3-bjh@">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!signUpForm.hasError('required')">
          Please enter your password
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Your Email</mat-label>
        <input matInput formControlName="email" placeholder="Ex. sample@gmail.com">
        <mat-error *ngIf="signUpForm.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>believer's Email</mat-label>
        <input matInput formControlName="believer" placeholder="Ex. believer@gmail.com">
        <mat-error *ngIf="signUpForm.hasError('required')">
          believer's Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" style="width: 100%">Create Account</button>
    </form>
  </div>

  <div class="loading" *ngIf="uploading">
    <p>Loading...</p>
    <div class="spinner"></div>
  </div>

</div>
